# Za lokalni razvoj (SQLite datoteka)
TURSO_DATABASE_URL=file:./data/prisotnost.db
TURSO_AUTH_TOKEN=

# Za produkcijo (Turso cloud)
# TURSO_DATABASE_URL=libsql://ime-baze-uporabnisko-ime.turso.io
# TURSO_AUTH_TOKEN=eyJ...

SESSION_SECRET=zamenjaj-z-nakljucnim-nizom
NODE_ENV=development
